@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.carousel {
  width: 100vw;
  max-height: 60vh; /* Limitiamo l'altezza del carosello */
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0;
  list-style: none;
}
.carousel__controls,
.carousel__activator {
  display: none;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__track {
  transform: translateX(0%);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__slide:nth-of-type(1) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(1) {
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__track {
  transform: translateX(-100%);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__slide:nth-of-type(2) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(2) {
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__track {
  transform: translateX(-200%);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__slide:nth-of-type(3) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(3) {
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__track {
  transform: translateX(-300%);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__slide:nth-of-type(4) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(4) {
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__track {
  transform: translateX(-400%);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__slide:nth-of-type(5) {
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: scale(1);
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
  display: block;
  opacity: 1;
}
.carousel__activator:nth-of-type(5):checked ~ .carousel__indicators .carousel__indicator:nth-of-type(5) {
  opacity: 1;
}
.carousel__control {
  height: 30px;
  width: 30px;
  margin-top: -15px;
  top: 50%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  opacity: 0.35;
  outline: 0;
  z-index: 3;
}
.carousel__control:hover {
  opacity: 1;
}
.carousel__control--backward {
  left: 10px;
  transform: rotate(-135deg);
}
.carousel__control--forward {
  right: 10px;
  transform: rotate(45deg);
}
.carousel__indicators {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.carousel__indicator {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  display: inline-block;
  z-index: 2;
  cursor: pointer;
  opacity: 0.35;
  margin: 0 2.5px 0 2.5px;
}
.carousel__indicator:hover {
  opacity: 0.75;
}
.carousel__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease 0s;
}
.carousel__track .carousel__slide {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.carousel__track .carousel__slide:nth-of-type(1) {
  transform: translateX(0%);
}
.carousel__track .carousel__slide:nth-of-type(2) {
  transform: translateX(100%);
}
.carousel__track .carousel__slide:nth-of-type(3) {
  transform: translateX(200%);
}
.carousel__track .carousel__slide:nth-of-type(4) {
  transform: translateX(300%);
}
.carousel__track .carousel__slide:nth-of-type(5) {
  transform: translateX(400%);
}
.carousel--scale .carousel__slide {
  transform: scale(0);
}
.carousel__slide {
  height: 100%;
  position: absolute;
  overflow-y: auto;
  opacity: 0;
}
/**
  * Theming
*/
html,
body {
  background-color: #f2f2f2;
  font-family: 'Archivo Black', serif;
  text-align: center;
  color: #fff;
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.my-carousel {
  border-radius: 5px;
  margin: 30px;
}
.carousel__slide {
  overflow: hidden;
}
.carousel--thumb .carousel__indicator {
  height: 10px;
  width: 10px;
}
h1 {
  font-size: 50px;
  line-height: 50px;
  color: #fafafa;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
}
h2,
h3 {
  color: #fafafa;
}
h3 {
  font-size: 50px;
}
.carousel__indicator {
  background-color: #fafafa;
}

.carousel__slide--video {
  background: none; /* Rimuove eventuali sfondi */
  position: relative;
  overflow: hidden; /* Nasconde eventuali bordi fuori dal contenitore */
  width: 100%;
  padding-top: 56.25%; /* Mantiene il rapporto di aspetto 16:9 */
}

.carousel__slide--video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover; /* Assicura che il video riempia completamente il contenitore */
  object-position: center; /* Centra il contenuto del video */
}

.overlay-image {
  position: absolute;
  top: 0; /* Posizione dell'immagine sovrapposta */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Assicurati che l'immagine sia sopra il video */
  pointer-events: none; /* Rende l'overlay non interattivo */
}


.carousel__slide:nth-of-type(1),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: url('https://scontent.fbgy1-1.fna.fbcdn.net/v/t39.30808-6/460129904_10225484939292152_1918725439332786324_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=u2ayTyjQdEUQ7kNvgEcQZX8&_nc_zt=23&_nc_ht=scontent.fbgy1-1.fna&_nc_gid=AGB3rfIk_tqUriV76Q1WmKt&oh=00_AYD9CVZkZJUqZyDBrOGGCOTxgy4dPa431O8MgpgT9GoG8A&oe=67670FF3');
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(2),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(2) {
  background-image: url("https://scontent.fbgy1-1.fna.fbcdn.net/v/t39.30808-6/459471740_10225474324306784_4478632438458070604_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=olIdoKNVyLgQ7kNvgEfKfxr&_nc_zt=23&_nc_ht=scontent.fbgy1-1.fna&_nc_gid=A0wqGMgRRlTsBrj1elQn_FU&oh=00_AYC9iwaEP4MTU1C8I3p6HdF-FI56qf8lWdpYHfpNZ-oR2g&oe=67672A00");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(3),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(3) {
  background-image: url("https://scontent.fbgy1-1.fna.fbcdn.net/v/t39.30808-6/459327201_10225464357497620_8830046557642279474_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Hn_AOVNPzeAQ7kNvgGWol6q&_nc_zt=23&_nc_ht=scontent.fbgy1-1.fna&_nc_gid=Ae8a340M83XxfanMtanwUTM&oh=00_AYA9YleGmgyjCMLSxjRTMVCqOsmw_slWW41CnWGhnev9tA&oe=67673B62");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(4),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(4) {
  background-image: url("https://scontent.fbgy1-2.fna.fbcdn.net/v/t39.30808-6/465672644_989178069919837_2723146412751218238_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=f727a1&_nc_ohc=i1G394-PuLIQ7kNvgEHsa00&_nc_zt=23&_nc_ht=scontent.fbgy1-2.fna&_nc_gid=A2n0J4tRMCBo1CmKVAdwjAO&oh=00_AYBkqBBVf02fk-oroHrDHVKBezHUXhpE2Y7Z_bRCYLUiKg&oe=67673CD8");
  background-size: cover;
  background-position: center;
}
.carousel__slide:nth-of-type(5),
.carousel--thumb .carousel__indicators .carousel__indicator:nth-of-type(1) {
  background-color: #b0b0b0;
  background-size: cover;
  background-position: center;
}

/* Gestore navBar */
.top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: #3d0004;
  width: 100%;
  height: 12%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
  gap: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: none;
  background: transparent;
}

.logo-container img.scritte-img {
  width: 300px;
  height: 50px;
}

.logo-container a {
  text-decoration: none; /* Rimuove la sottolineatura */
}

.logo-container strong {
  font-size: 18px;
  font-weight: bold;
  font-family: 'DM Serif Display', serif;
  color: #000;
}

.menu-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-items a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Quicksand',sans-serif;
  text-decoration: none;
  color: #000;
}

.menu-items a i {
  margin-right: 5px;
}

.menu-items a:hover {
  color: #b69595;
}

.accedi-btn {
  margin-left: auto;
  background-color: #979797;
  color: #3d0004;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.accedi-btn:hover {
  background-color: #b0b0b0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.main-section {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 10px;
}

.main-section h1 {
  font-size: 80px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
}

.events-section .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.events-section .col-12 {
  padding: 0 15px;
}

.event-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: left;
}

.event-card h3 {
  font-size: 24px;
  font-family: 'Quicksand',sans-serif;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.event-card p {
  color: #555;
  margin-bottom: 20px;
}

.event-card button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.event-card button:hover {
  background-color: #0056b3;
}

/* Contenitore per logo e menu */
.sinistra {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Allinea il logo e il menu a sinistra */
}

.logo-container {
  display: flex;
  justify-content: center; /* Centra il logo */
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #e5d8be;
  padding: 0.5em;
  transition: color 0.3s ease;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #e5d8be;;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Gestione del layout mobile */
@media (max-width: 950px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  #menu-toggle:checked ~ .menu li a {
    color: white;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .scritte-img {
    display: none;
  }

  /* Contenitore destra per nome utente e login */
  .destra {
    display: flex;
    justify-content: flex-end; /* Allinea login a destra */
    align-items: center;
  }

  .destra span {
    margin-right: 10px;
    font-size: 1rem;
    display: inline; /* Mostra il nome utente su mobile */
  }

  .accedi-btn {
    margin-left: 10px;
  }
}

/* Stile per il contenitore dell'utente in modalità desktop */
.destra {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.destra span {
  margin-right: 10px;
  font-size: 1rem;
}

/* Pulsanti */
.btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #e63946;
}


/* Stile carosello*/
@import url("https://fonts.googleapis.com/css?family=Roboto:900");
/**
  * style variables
*/
/**
  * Control & indicator mixin
*/


